<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Robots Rewrite" stopProcessing="true">
                    <match url="^robots\.txt$" />
                    <action type="Rewrite" url="robots.php" />
                </rule>
                <rule name="Sitemap Rewrite" stopProcessing="true">
                    <match url="^sitemap\.xml$" />
                    <action type="Rewrite" url="sitemap.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
